@import '~react-bulma-components/src/index.sass';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

div.navbar-brand{

  margin-left: 128px;
}

nav.navbar {
  background-color: black;
  border-bottom: 1px solid #81FCED;
}

.navbar-item {
  right: 96px;
}

a.navbar-item {
  color: whitesmoke;
  text-indent: 50px;
}

nav.level{
  display: flex;
  background-color: black;
  color: whitesmoke;
  top: 5px;
  bottom: 5px;
}

.navbar-item.has-dropdown {
  margin-left: 70px;
}

div.level-item {
  padding: 8px;
  text-indent: 60px;
  justify-content: center;
}

p.heading {
  text-transform: initial;
}

p.title {
  font-size: 16px;
  color: green;
  
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
